In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('02-Python_Assignment_PyBank_Resources_budget_data.csv')

In [47]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [48]:
# The total number of months included in the dataset
index = df.index
number_of_rows = len(index)
print(number_of_rows)

86

In [49]:
df.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [50]:
# Initialize the metric variables
count = 86
total = 38382578
average = round(total / count, 2)
minimum = -1196225
maximum = 1170593

In [51]:
# Initialize lists to hold profitable and unprofitable day profits/losses
profitable_days = [profitable_days.append(day_pnl)]
unprofitable_days = [unprofitable_days.append(day_pnl)]

In [52]:
# List of trading profits/losses
trading_pnl = [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 
               697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 
               817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 
               789480, 999942, -1196225, 268997, -687986, 1150461, 682458,617856, 824098, 581943, 132864, 448062, 689161, 800701, 
               1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067,
               989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988,
               138230, 671099]

In [53]:
df.max()

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [54]:
df.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [55]:
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [56]:
# Iterate over each element of the list
for day_pnl in trading_pnl:
     # Cumulatively sum up the total profits/losses and count of trading days
    total += day_pnl
    count += 1
    # Logic to determine minimum and maximum values
    if minimum == 0:
        minimum = day_pnl
    elif day_pnl < minimum:
        minimum = day_pnl
    elif day_pnl > maximum:
        maximum = day_pnl

    # Logic to determine profitable vs. unprofitable days
    if day_pnl > 0:
        profitable_days.append(day_pnl)
    elif day_pnl <= 0:
        unprofitable_days.append(day_pnl)

In [57]:
# Calculate the average
average = round(38382578 / count, 2)
average

223154.52

In [58]:
# Count metrics
profitable_count = len(profitable_days)
unprofitable_count = len(unprofitable_days)

In [59]:
# Percentage metrics
percent_profitable = profitable_count / count * 100
percent_unprofitable = unprofitable_count / count * 100

In [60]:
print("---------Summary Statistics----------")
print(f"Number of Total Days: {count}")
print(f"Number of Profitable Days: {profitable_count}")
print(f"Number of Unprofitable Days: {unprofitable_count}")
print(f"Percentage of Profitable Days: {percent_profitable}%")
print(f"Percentage of Unprofitable Days: {percent_unprofitable}%")
print("-------------------------------------")
print(f"Profitable Days: {profitable_days}")
print(f"Unprofitable Days: {unprofitable_days}")
print("-------------------------------------")
print(f"Total Profits/Losses: {total}")
print(f"Daily Average: {average}")
print(f"Worst Loss: {minimum}")
print(f"Best Gain: {maximum}")

---------Summary Statistics----------
Number of Total Days: 172
Number of Profitable Days: 75
Number of Unprofitable Days: 13
Percentage of Profitable Days: 43.604651162790695%
Percentage of Unprofitable Days: 7.55813953488372%
-------------------------------------
Profitable Days: [None, 867884, 984655, 322013, 310503, 522857, 1033096, 604885, 477532, 893810, 779806, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, 1170593, 252788, 1151518, 817256, 570757, 506702, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, 268997, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, 757143, 445709, 712961, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
Unprofitable Days: [None, -69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]
-------------------------------------
Total Profits/Losses: 76765156
Daily Average: 223154.52
Worst Loss: -1196225
Best Gain: 1170593